@import '../../../assets/scss/variables.scss';

.table-container {
  position: relative;
  padding: 100px 80px 0;

  app-page-title {
    margin: -100px -80px -60px;
    display: block;
  }

  app-table-header,
  app-table,
  app-reports-filter {
    display: block;
    margin: 0 auto;
    background: white;
    border-radius: 5px 5px 0 0;
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.3);
    overflow: hidden;
    position: relative;
  }

  app-reports-filter {
    border-radius: 0;
  }

  app-table {
    border-radius: 0 0 5px 5px;
    margin-bottom: 50px;
  }
}
