@import '../../../../node_modules/@angular/material/theming';

@mixin table-header-component($theme) {

  $primaryPalette: map-get($theme, primary);
  $accentPalette: map-get($theme, accent);

  .number-of-results {
    color: mat-color($primaryPalette, 800, .7) !important;
  }

  .data-name {
    color: mat-color($primaryPalette, 800, .5);
  }

  .filter-label {
    color: mat-color($primaryPalette, 800, .5) !important;
  }

  .filter-select {
    border-color: mat-color($primaryPalette, 700, .3);
  }

  .toggle-filter-button {
    border: 1px solid mat-color($primaryPalette, 700, .3) !important;

    .filter-icon {
      color: mat-color($primaryPalette, A100);
    }
  }
}
