<div class="container">
  <div class="main-container"></div>
  <div class="login-card">
    <div class="login-header">
      <!-- TODO change this for an icon -->
      <img src="/assets/img/logo.svg" class="siemens-logo">
      <div class="line"></div>
      <div class="second-title">
        <p>STARTER</p>
        <p>PROJECT</p>
      </div>
      <div class="tittle-right">
        <p>Login</p>
      </div>
    </div>
    <form (submit)="login()"
          novalidate>
      <div class="login-body">
        <div class="login-inputs">
          <md-input-container color="accent" class="">
            <input mdInput placeholder="Username" name="username" [(ngModel)]="username" required>
            <md-error>
              {{validationMessage.username}}
            </md-error>
          </md-input-container>
        </div>
        <div class="login-inputs">
          <md-input-container color="accent" class="">
            <input mdInput placeholder="Password" type="password" name="password" [(ngModel)]="password" required>
            <md-error>
              {{validationMessage.password}}
            </md-error>
          </md-input-container>
        </div>
        <md-error *ngIf="errorMessage">
          {{errorMessage}}
        </md-error>
        <div>
          <button class="primary hover login-button" type="submit" md-button>Login</button>
        </div>
      </div>
    </form>
  </div>
</div>