@import '../../../assets/scss/variables.scss';

.main-container {
  position: relative;
  height: 100vh;
}

.login-card {
  position: absolute;
  left: 32%;
  right: 32%;
  top: 25%;
  border-radius: 4px;
  background: white;
  box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.3);
}

.login-header {
  height: auto;
  display: flex;
  padding: 15px;

  .siemens-logo {
    width: 123px;
    height: 20px;
    object-fit: contain;
  }

  .line {
    height: 20px;
    margin: 0px 0.5em;
    border-left-width: 1px;
  }

  .second-title {
    font-size: 0.8em;
    opacity: 0.8;
    letter-spacing: 1px;
    line-height: 1em;
  }

  .tittle-right {
    position: absolute;
    right: 15px;
  }
}

.login-body {
  padding: 30px 70px 50px 70px;

  md-input-container{
    width: 100%;
  }

  .login-button{
    border-radius: 8px;
    height: 2.5em;
    font-size: 15px;
    margin-top: 40px;
    width: 100%;
  }

  .login-inputs{
    padding: 5px 0;
  }
}