<h1 md-dialog-title i18n="Confirm dialog title @@confirmDialogTitle">Are you sure?</h1>

<div md-dialog-content i18n="Confirmation explaining that there are some unsaved data@@confirmDialogMessage">
  Your data have not been saved. If you leave now this data will be lost.
</div>
<div md-dialog-actions>
  <button md-raised-button md-dialog-close="" i18n="Cancel option@@cancelButton">Cancel</button>
  <button md-raised-button md-dialog-close="true" i18n="Confirm option@@confirmButton">Confirm</button>
</div>
